[data-bs-theme="light"] {
    --font-family: 'Montserrat', sans-serif;
    --background: #ffffff;
    --container-bg: #f8f9fa;
    --button-bg: #1D9BF0;
    --text-color: #5a5c69;
    --input-bg: #ffffff;
    --border-color: #dee2e6;
    --box-shadow: 0 14px 28px rgba(0,0,0,0.08), 0 10px 10px rgba(0,0,0,0.03);
    --feedback-bg: #f8f9fa;
    --feedback-border: #6c757d;
    --unread-bg: #e8f5fe;
    --primary-accent: #1D9BF0;
    --priority-high: #dc3545;
    --priority-medium: #ffc107;
    --priority-low: #28a745;
    --rating-star: #ffc107;
    --text-muted: #6c757d;
}

[data-bs-theme="dark"] {
    --font-family: 'Montserrat', sans-serif;
    --background: #15202B;
    --container-bg: #192734;
    --button-bg: #1D9BF0;
    --text-color: #ffffff;
    --input-bg: #22303C;
    --border-color: #38444D;
    --box-shadow: 0 14px 28px rgba(255,255,255,0.08), 0 10px 10px rgba(255,255,255,0.03);
    --feedback-bg: #22303c;
    --feedback-border: #8899AC;
    --unread-bg: #1a3658;
    --primary-accent: #1D9BF0;
    --priority-high: #e74c3c;
    --priority-medium: #f1c40f;
    --priority-low: #2ecc71;
    --rating-star: #f39c12;
    --text-muted: #8899AC;
    
}

/* Apply variables to Bootstrap components */
body {
    background-color: var(--background);
    color: var(--text-color);
    font-family: var(--font-family);
}

.card, .form-control, .dropdown-menu {
    background-color: var(--container-bg);
    border-color: var(--border-color);
    
}

.form-control {
    background-color: var(--input-bg);
}

.btn-primary {
    background-color: var(--button-bg);
    border-color: var(--button-bg);
}

.card-title, .card-text {
    color: var(--text-color);
}

.text-muted {
    color: var(--text-muted) !important;
}

.container-fluid {
    width: -webkit-fill-available;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: 100px;
    margin-left: 100px;
}

.container.mt-5 h2 {
    font-weight: 700;
    margin: 0;
    margin-bottom: 25px;
    font-size: 1.75rem;
    color: var(--text-color) !important;
}

.card-header bg-white p-2 {
    background-color: var(--container-bg);
    padding: 0.5rem;
}